@{
    ViewBag.Title = "Admin Home";
}

<nav style="--bs-breadcrumb-divider: '//';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            Home
        </li>
    </ol>
</nav>

<h1 class="text-center">
    Admin Home
</h1>