@{
    ViewData["Title"] = "Meet Details";
}

<h1 class="display-5">
    Welcome!
</h1>

<p class="lead">
    Welcome to the Cloverleaf Track and Field statistics website.
</p>
<p>
    In total there are <span class="fw-bold">xxx</span> performances for <span class="fw-bold">xxx</span> athletes from
    <span class="fw-bold">xxx</span> meets across <span class="fw-bold">xxx</span> seasons of Cloverleaf Track.
</p>
<p>
    A lot of this website was updated manually. If something seems wrong, it very likely is. Please 
    <a href="mailto:tony@morriscloud.com">email me</a> if you notice anything needs corrected!
</p>
<p>
    This website was last updated on @DateTime.Now.ToLocalTime().ToString("D") at @DateTime.Now.ToString("h:mm:ss tt")
</p>